# Build check on default Ubuntu package manager versions
name: Build passes on Ubuntu check
on: [ push , workflow_dispatch]
concurrency:
  group: "continuous_test"
  cancel-in-progress: true
jobs:
  build-check:
    name: Build check
    runs-on: ubuntu-24.04
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: check fcitx5-cskk version
        id: version
        run: |
          echo version=`bin/version.sh` >> ${GITHUB_OUTPUT}
      - name: check cskk version
        id: cskk_version
        run: |
          echo cskk_version=`bin/cskk_version.sh` >> ${GITHUB_OUTPUT}
      - name: Download & install libcskk
        run: |
          wget https://github.com/naokiri/cskk/releases/download/v${{ steps.cskk_version.outputs.cskk_version }}/libcskk_${{ steps.cskk_version.outputs.cskk_version }}_amd64.deb
          sudo apt-get install ./libcskk_${{ steps.cskk_version.outputs.cskk_version }}_amd64.deb
      - name: Install required libs and dependencies
        run: |
          sudo apt-get update
          sudo apt-get install gettext cmake extra-cmake-modules fcitx5-modules-dev libfcitx5core-dev qtbase5-dev libfcitx5-qt-dev
      - name: Build fcitx5-cskk
        run: |
          cmake -B build \
            -DCMAKE_PREFIX_PATH=/opt/fcitx \
            -DCMAKE_BUILD_TYPE=Release \
            -DCPACK_PACKAGING_INSTALL_PREFIX=/usr \
            -DCMAKE_INSTALL_LIBDIR=lib/x86_64-linux-gnu \
            -DENABLE_QT=On \
            -DUSE_QT6=Off
          cmake --build build --parallel