name: CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  clang-format:
    name: Check clang-format
    runs-on: ubuntu-latest
    container: archlinux:latest
    steps:
      - name: Install dependencies
        run: |
          pacman -Syu --noconfirm git clang diffutils
          git config --global --add safe.directory $GITHUB_WORKSPACE
      - uses: actions/checkout@v4
      - uses: fcitx/github-actions@clang-format
  check:
    name: Build and test
    needs: clang-format
    runs-on: ubuntu-latest
    container: archlinux:latest
    strategy:
      fail-fast: false
      matrix:
        compiler: [gcc, clang]
        include:
          - compiler: gcc
            cxx_compiler: g++
          - compiler: clang
            cxx_compiler: clang++
    env:
      CC: ${{ matrix.compiler }}
      CXX: ${{ matrix.cxx_compiler }}
    steps:
      - uses: actions/checkout@v4
        with:
          path: fcitx5-cskk
      - name: Install required build environment
        uses: ./fcitx5-cskk/.github/actions/archlinux_build_environment_setup
      - name: Init CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: cpp
          source-root: fcitx5-cskk
      - name: Build and Install fcitx5-cskk
        uses: fcitx/github-actions@cmake
        with:
          path: fcitx5-cskk
          cmake-option: >-
            -DENABLE_QT=On -DUSE_QT6=On
      - name: Test
        run: |
          ctest --test-dir fcitx5-cskk/build
      - name: CodeQL Analysis
        uses: github/codeql-action/analyze@v3
