name: CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  clang-format:
    name: Check clang-format
    runs-on: ubuntu-latest
    container: archlinux:latest
    steps:
      - name: Install dependencies
        run: |
          pacman -Syu --noconfirm git clang diffutils
          git config --global --add safe.directory $GITHUB_WORKSPACE
      - uses: actions/checkout@v4
      - uses: fcitx/github-actions@clang-format
  check:
    name: Build and test
    needs: clang-format
    runs-on: ubuntu-latest
    container: archlinux:latest
    strategy:
      fail-fast: false
      matrix:
        compiler: [gcc, clang]
        include:
          - compiler: gcc
            cxx_compiler: g++
          - compiler: clang
            cxx_compiler: clang++
    env:
      CC: ${{ matrix.compiler }}
      CXX: ${{ matrix.cxx_compiler }}
    steps:
      - name: Install dependencies
        run: |
          pacman -Syu --noconfirm base-devel clang cmake ninja extra-cmake-modules fmt libuv boost git qt6-base qt6-wayland libxkbcommon skk-jisyo cargo-c cbindgen
      - uses: actions/checkout@v4
        with:
          repository: fcitx/fcitx5
          path: fcitx5
      - name: Cache fcitx5 data files
        uses: actions/cache@v4
        with:
          path: 'fcitx5/**/*.tar.*'
          key: ${{ runner.os }}-${{ hashFiles('fcitx5/src/modules/spell/CMakeLists.txt')
            }}
      - name: Build and Install fcitx5
        uses: fcitx/github-actions@cmake
        with:
          path: fcitx5
          cmake-option: >-
            -DENABLE_KEYBOARD=Off -DENABLE_X11=Off -DENABLE_WAYLAND=Off -DENABLE_ENCHANT=Off
            -DENABLE_DBUS=Off -DENABLE_SERVER=Off -DENABLE_EMOJI=Off -DUSE_SYSTEMD=Off
      - uses: actions/checkout@v4
        with:
          repository: fcitx/fcitx5-qt
          path: fcitx5-qt
      - name: Build and Install fcitx5-qt
        uses: fcitx/github-actions@cmake
        with:
          repository: fcitx/fcitx5-qt
          path: fcitx5-qt
          cmake-option: >-
            -DENABLE_QT4=Off -DENABLE_QT5=Off -DENABLE_QT6=On
      - uses: actions/checkout@v4
        with:
          repository: naokiri/cskk
          path: cskk
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - name: Build and install cskk
        shell: bash
        run: "cd cskk\ncargo cinstall --release --prefix=/usr          \n"
      - uses: actions/checkout@v4
        with:
          path: fcitx5-cskk
      - name: Init CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: cpp
          source-root: fcitx5-cskk
      - name: Build and Install fcitx5-cskk
        uses: fcitx/github-actions@cmake
        with:
          path: fcitx5-cskk
          cmake-option: >-
            -DENABLE_QT=On -DUSE_QT6=On
      - name: Test
        run: |
          ctest --test-dir fcitx5-cskk/build
      - name: CodeQL Analysis
        uses: github/codeql-action/analyze@v3
