# Make release deb package that works on Ubuntu versions.
name: Release x86_64 deb artifact on release published
on:
  release:
    types:
      - published
  workflow_dispatch:

jobs:
  Build:
    runs-on: ubuntu-24.04
    #    strategy:
    #      matrix:
    #        cskk_ver: [0.8.1]
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: check fcitx5-cskk version
        id: version
        run: |
          echo version=`bin/version.sh` >> ${GITHUB_OUTPUT}
      - name: check cskk version
        id: cskk_version
        run: |
          echo cskk_version=`bin/cskk_version.sh` >> ${GITHUB_OUTPUT}
      - name: check fcitx5-cskk version exists in metainfo
        run: |
          bin/metainfo_version.sh
      - name: Check release tag matches version
        run: test "refs/tags/v${{ steps.version.outputs.version }}" = ${{ github.ref }}
      - name: Download & install libcskk
        run: |
          wget https://github.com/naokiri/cskk/releases/download/v${{ steps.cskk_version.outputs.cskk_version }}/libcskk_${{ steps.cskk_version.outputs.cskk_version }}_amd64.deb
          sudo apt-get install ./libcskk_${{ steps.cskk_version.outputs.cskk_version }}_amd64.deb
      - name: Install required libs and dependencies
        run: |
          sudo apt-get update
          sudo apt-get install extra-cmake-modules libfcitx5core-dev qtbase5-dev libfcitx5-qt-dev gettext
      - name: Build fcitx5-cskk
        run: |
          cmake -B build \
            -DCMAKE_PREFIX_PATH=/opt/fcitx \
            -DCMAKE_BUILD_TYPE=Release \
            -DCPACK_PACKAGING_INSTALL_PREFIX=/usr \
            -DCMAKE_INSTALL_LIBDIR=lib/x86_64-linux-gnu \
            -DFCITX_INSTALL_USE_FCITX_SYS_PATHS=ON \
            -DENABLE_QT=On
          cmake --build build --parallel
      - name: Pack deb
        run: |
          cd ${{ runner.workspace }}/build
          cpack -G DEB -DFCITX_INSTALL_USE_FCITX_SYS_PATHS=ON
      - name: Attatch artifact to Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            ${{ runner.workspace }}/fcitx5-cskk/_packages/fcitx5-cskk_${{ steps.version.outputs.version }}_amd64.deb