# Make release deb package that works on Ubuntu versions.
name: Release x86_64 deb artifact on release published
on:
  release:
    types:
      - published
  workflow_dispatch:

jobs:
  Build:
    runs-on: ubuntu-24.04
    #    strategy:
    #      matrix:
    #        cskk_ver: [0.8.1]
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: check fcitx5-cskk version
        id: version
        run: |
          echo version=`bin/version.sh` >> ${GITHUB_OUTPUT}
      - name: check cskk version
        id: cskk_version
        run: |
          echo cskk_version=`bin/cskk_version.sh` >> ${GITHUB_OUTPUT}
      - name: check fcitx5-cskk version exists in metainfo
        run: |
          bin/metainfo_version.sh
      - name: check github event name
        run: |
          echo github.event_name
      - name: Check release tag matches version
        if: github.event_name == 'release'
        run: test "refs/tags/v${{ steps.version.outputs.version }}" = ${{ github.ref }}
      - name: Download & install libcskk
        run: |
          wget https://github.com/naokiri/cskk/releases/download/v${{ steps.cskk_version.outputs.cskk_version }}/libcskk_${{ steps.cskk_version.outputs.cskk_version }}_amd64.deb
          sudo apt-get install ./libcskk_${{ steps.cskk_version.outputs.cskk_version }}_amd64.deb
      - name: Install required libs and dependencies
        run: |
          sudo apt-get update
          sudo apt-get install extra-cmake-modules libfcitx5core-dev qtbase5-dev libfcitx5-qt-dev gettext libxkbcommon-dev
      - name: Build fcitx5-cskk
        run: |
          cmake -B build \
            -DCMAKE_PREFIX_PATH=/opt/fcitx \
            -DCMAKE_BUILD_TYPE=Release \
            -DCPACK_PACKAGING_INSTALL_PREFIX=/usr \
            -DCMAKE_INSTALL_LIBDIR=lib/x86_64-linux-gnu \
            -DFCITX_INSTALL_USE_FCITX_SYS_PATHS=ON \
            -DENABLE_QT=On \
            -DUSE_QT6=Off
          cmake --build build --parallel
      - name: Pack deb
        run: |
          cpack -B build -G DEB -DFCITX_INSTALL_USE_FCITX_SYS_PATHS=ON
      - name: Rename deb for workflow_dispatch builds
        if: github.event_name == 'workflow_dispatch'
        run: |
          TIMESTAMP=$(date +%Y%m%d-%H%M%S)
          mv build/fcitx5-cskk_${{ steps.version.outputs.version }}_amd64.deb \
          build/fcitx5-cskk_${{ steps.version.outputs.version }}_${TIMESTAMP}_amd64.deb
          echo "Renamed to: fcitx5-cskk_${{ steps.version.outputs.version }}_${TIMESTAMP}_amd64.deb"
      - name: Attach artifact to Release
        if: github.event_name == 'release'
        uses: softprops/action-gh-release@v1
        with:
          files: |
            build/fcitx5-cskk_${{ steps.version.outputs.version }}_amd64.deb
      - name: Upload DEB artifact to manual run
        if: github.event_name == 'workflow_dispatch'
        uses: actions/upload-artifact@v4
        with:
          name: fcitx5-cskk-deb
          path: build/fcitx5-cskk_*_amd64.deb
          if-no-files-found: error
          retention-days: 30